@use "@carbon/react/scss/theme";
@use "@carbon/react/scss/components/button";

@use "@carbon/react/scss/spacing";
@use "@carbon/react/scss/type";

$sipePrefix: "sipe";

.#{$sipePrefix}--kanban-column {
  background-color: theme.$background;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  min-height: 400px;
  width: 20%;
  height: 100%;
  min-width: 400px;
  //calculate the max heigth to never have page scroll 
  max-height: calc(100vh - 180px);

}

.#{$sipePrefix}--kanban-column-title {
  @include type.type-style("expressive-heading-01");
  padding: 13px 10px 17px;
  text-transform: uppercase;
  color: theme.$text-secondary;
  //Make title sticky 
  position: sticky;
  top: 0;
}

.#{$sipePrefix}--kanban-add-button {
  margin: 0 5px !important;
  font-size: 16px;
  max-width: 100% !important;
  width: 97.5% !important;
  align-items: center !important;
  justify-content: center !important;
  box-shadow: 0px 1px 2px 0px rgba(9, 30, 66, 0.25) !important;
  display: flex !important;
}


.#{$sipePrefix}--kanban-card-column-wrapper { 
  min-height: 400px;
  width: 20%;
  height: 100%;
  min-width: 400px;
  max-height: 900px; 
  //Make div scrollable if it's too long
  overflow-y: scroll;
  // Fade out the bottom of the div
  // Hide the scrollbar
  &::-webkit-scrollbar {
    display: none;
  }

  // for elements with the "scrollable" class
  // &.#{$sipePrefix}--scrollable-column {
  //   -webkit-mask-image: linear-gradient(to bottom, black calc(100% - 48px), transparent 100%);
  //   mask-image: linear-gradient(to bottom, black calc(100% - 48px), transparent 100%);
  //   }

}
.#{$sipePrefix}--kanban-card-column-wrapper:first-child { 

  height: 100%;
  min-height: 180px;
}