@use "@carbon/react/scss/theme";
@use "@carbon/react/scss/spacing";
@use "@carbon/react/scss/type";

$sipePrefix: "sipe";


.#{$sipePrefix}--Content-header-container {
  display: flex;
  padding: 0 spacing.$spacing-06 spacing.$spacing-06 spacing.$spacing-06;
  width: 100%;
}