@use "@carbon/react/scss/theme";
@use "@carbon/react/scss/spacing";
@use "@carbon/react/scss/type";

$sipePrefix: "sipe";


.#{$sipePrefix}--Content-header-container {
  display: flex;

  padding-bottom: spacing.$spacing-08;
  width: 100%;
}

.#{$sipePrefix}--document-selected {
  @include type.type-style("body-compact-01");

}