@use "@carbon/react/scss/theme";
@use "@carbon/react/scss/spacing";
@use "@carbon/react/scss/type";

$sipePrefix: "sipe";


.#{$sipePrefix}--home-header-container {
  display: flex;
  padding: spacing.$spacing-05 0 spacing.$spacing-05 spacing.$spacing-05;
  width: 24%; 
  min-width: 300px;
}

.#{$sipePrefix}--document-selected {
  @include type.type-style("body-compact-01");

}