@use "@carbon/react/scss/theme";
@use "@carbon/react/scss/spacing";

$sipePrefix: "sipe";

.#{$sipePrefix}--kanban-board {
  height: 100%;
  width: 100%;
  padding: spacing.$spacing-09 spacing.$spacing-09 0 spacing.$spacing-09;
  background-color: theme.$background;
  display:flex; 
}
