@use "@carbon/react/scss/theme";
@use "@carbon/react/scss/themes";

@use "@carbon/react/scss/spacing";
@use "@carbon/react/scss/type";

$sipePrefix: sipe;

.#{$sipePrefix}--project-list {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 25%;
  height: 100%;
  min-width: 250px;
  .ul {
    list-style-type: none;
    width: 100%;
  }
}

.#{$sipePrefix}--project-list-item {
  width: 100%;
  align-items: center;
  display: flex;
  background-color: theme.$background;
  padding: 8px 16px;
  border: 1px solid theme.$border-subtle-01;
  cursor: pointer;
  &:hover {
    background-color: theme.$layer-01;
  }
}

.#{$sipePrefix}--project-list-item-content {
  width: 100%;
  gap: spacing.$spacing-02;
  align-items: center;
  display: flex;
}

.#{$sipePrefix}--project-list-item-details {
  display: flex;
  flex-direction: column;
  padding-left: spacing.$spacing-04;
}

.#{$sipePrefix}--project-list-item-details > div > p {
  @include type.type-style("label-01");
  color: theme.$text-primary;
}

.#{$sipePrefix}--project-list-item-details > div > h4 {
  padding-bottom: spacing.$spacing-02;
  @include type.type-style("heading-01");
  color: theme.$text-primary;
}

.#{$sipePrefix}--project-list-item-details > div > span {
  @include type.type-style("label-01");
  color: theme.$text-secondary;
  padding-left: spacing.$spacing-02;
}

.#{$sipePrefix}--project-list-ul {
  list-style-type: none;
  width: 100%;
}
