@use "@carbon/react/scss/theme";
@use "@carbon/react/scss/spacing";
@use "@carbon/react/scss/type";
@use "@carbon/react/scss/motion";


.card {
    border: 1px solid #e5e7eb; // Tailwind's default border color
    background-color: theme.$layer-01;
    color: theme.$text-primary;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.card-header,
.card-content,
.card-footer {
    padding: 1.5rem;
}

.card-header {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
}

.card-title {
    @include type.type-style('expressive-heading-02');
}

.card-description {
    @include type.type-style('body-compact-01');
    color: theme.$text-secondary;
}

.card-content {
    @include type.type-style('body-compact-01');

    padding-top: 0;
}

.card-footer {
    @include type.type-style('body-compact-01');

    display: flex;
    align-items: center;
    padding-top: 0;
}