@use "@carbon/react/scss/theme";
@use "@carbon/react/scss/spacing";
@use "@carbon/react/scss/type";



.calendar-strip {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;
  height: 35px;
  width: 100%;

  .calendar-day {
    position: relative;
    width: 10px;
    height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;

    .day {
      @include type.type-style("expressive-heading-01");

    }

    .month {
      @include type.type-style("body-compact-01");
    }
  }
}
